/* Coloamos o asterisco para definir todas as configurações de margin e padding para 0 */
*{
    margin: 0;
    padding: 0;
}

h1{
    margin: 50px 0px 50px 0px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: center;
}

p{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: center;
    font-size: 20pt;
    margin: 50px 0px 50px 0px;
}
div{
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.flex-container{    
    background-color: black;
    height: 50vh;

    /* Aplicamos o "display: flex" no pai, neste caso a section. */
    display: flex;

    /* Logo após, colocamos a propriadade "Justify-content", para dizer qual será o comportamento dos filhos. */
    justify-content: center;  
    /* justify-content: flex-start;     */
    /* justify-content: flex-end; */      
    /* justify-content: space-between;     */
    /* justify-content: space-around;     */
    /* justify-content: space-evenly;     */

    /* Aqui colocamos a direção que desejamos para os elementos filhos */
    flex-direction: row;
    /* flex-direction: row-reverse; */
    /* flex-direction: column; */
    /* flex-direction: column-reverse; */
}

.flex-item{
    border-radius: 30px;
    margin: 10px;
    height: 50px;
    width: 50px;
    background-color: white;

    /* No filho da section, definimos o alinhamento. */
    align-self: center;  
    /* align-self: auto;     */
    /* align-self: flex-start;     */
    /* align-self: flex-end;     */      
    /* align-self: baseline;     */
    /* align-self: stretch;     */
    
}

.flex-item:nth-child(1){
    background-color: red;
}
.flex-item:nth-child(2){
    background-color: green;
}
.flex-item:nth-child(3){
    background-color:blue;
}